/**
 * @author Ida Swarczewskaja (CSS & design)
 */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background:black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size:85%;
  line-height:120%;
  font-weight:normal;
}

#game {
  padding: 10px;
  width: 445px;
  position:relative;
  margin: 15px auto;
  background: url('opatetris-bg.jpg') repeat 0 0;
  height: 515px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 3px 5px #333 inset;
  -moz-box-shadow: 0px 3px 5px #333 inset;
  box-shadow: 0px 3px 5px #333 inset;
}
/* Field */
#tetris_board, .tetris_board  {
  position: absolute;
  left: 15px;
  top:15px;
}
.tetris_board {
  background: transparent;
  height: 500px;
  width: 250px;
}

/* Right panel */
#tetris_next_preview, #tetris_board, #tetris_score_value, .tetris_board, .tetris_next_preview {
  border: 1px solid #161616;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 3px #333;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 3px #333;
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 3px #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom: 1px solid #333;
  border-bottom: 1px solid #111;
}

.logo, #tetris_next_preview, .next, #tetris_score, #control_div, #info, .tetris_next_preview{
  position:absolute;
  left: 285px;
}
.logo {
  background: url('opatetris-sprite.png') no-repeat -3px 0px;
  height: 44px;
  width:173px;
  top:10px;
  display: block;
}
#tetris_next_preview, .tetris_next_preview {
  top:100px;
}
.tetris_next_preview {
  background: transparent;
  height: 150px;
  width: 150px;
}
.next {
  top:70px;
  background: url('opatetris-sprite.png') no-repeat -3px -53px;
  height: 20px;
  width: 54px;
}
#tetris_score {
  top:270px;
}
.score {
  background: url('opatetris-sprite.png') no-repeat -3px -80px;
  height: 20px;
  width: 64px;
  margin-bottom:10px;
}
#tetris_score_value {
  text-align: left;
  font-size: 20px;
  line-height:24px;
  text-shadow: 0 -1px 1px black;
  color: gray;
  width: 141px;
  padding:5px;
  background:#1F1F1F;
}
#control_div {
  bottom:15px;
}

button {
  background: url('opatetris-sprite.png') no-repeat -3px -109px;
  height: 40px;
  width:164px;
  display: block;
  border:none;
  color:#808080;
  text-shadow:0 -1px 1px #000;
  font-size:20px;
}

#info {
  width:164px;
  top: 440px;
  background: rgba(0, 0, 0, 0.3);
  color: gray;
  padding: 5px 0;
  text-align:center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px 3px 3px 3px;
}
